* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.login {
    position: absolute;
    left: 15%; /* Menempatkan form di sebelah kiri layar */
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff; /* Latar belakang putih */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); /* Memberikan bayangan lembut */
    padding: 30px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    width: 320px; /* Lebar form */
    font-family: Arial, sans-serif;
}

.bg-login img {
    width: 90%;
    float: right;
}

.login .sign-in-form {
    display: flex;
    flex-direction: column;
}

.icon-button {
    background: none; /* Hilangkan latar belakang */
    border: none; /* Hilangkan border */
    padding: 0; /* Hilangkan padding */
    margin: 0; /* Hilangkan margin */
    cursor: pointer; /* Kursor menjadi pointer */
}

.icon-svg {
    transition: transform 0.2s ease, fill 0.2s ease; /* Tambahkan animasi untuk efek hover */
    fill: #333; /* Warna default ikon */
    width: 24px; /* Ukuran default */
    height: 24px;
}

.icon-button:hover .icon-svg {
    fill: #007bff; /* Ubah warna saat hover */
    transform: scale(1.2); /* Perbesar ukuran saat hover */
}

.login .title {
    margin-bottom: 50px;
    text-align: center;
    color: #333333;
}

.login .title h2{
    font-size: 26px;
    font-weight: 700;
}

.login .title p{
    font-size: 14px;
}

.login .input-field p {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.input-field {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.login .input-field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field label {
    position: absolute;
    left: 10px;
    transform: translateY(50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none; /* Agar tidak mengganggu klik */
    transition: all 0.5s ease; /* Untuk animasi */
}

.input-field input:focus {
    border-color: #007bff; /* Warna biru saat fokus */
}

/* fokus ketika diklik */
/* .input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label */

/* fokus ketika mengetik */
/* .input-field input:not(:placeholder-shown) + label,
.input-field input.has-text + label  */

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    padding: 0 7px;
    background-color: #fff;
    transform: translateY(-70%); /* Reset translate */
    font-size: 14px; /* Ukuran lebih kecil */
    color: #007bff; /* Warna biru untuk label */
}

.login .btn {
    background-color: rgba(0, 123, 255, 0.1);
    color: #007bff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    font-size: 16px;
    color: #aaa;
    transition: 0.3s ease;
}

.toggle-password:hover i {
    color: #007bff;;
}

.login .btn:hover {
    background-color: #007bff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
}

.login .forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.items-left {
    align-items: center;
    display: flex;
    gap: 2px;
}

.login .forgot input {
    margin-right: 5px;
}

.login .forgot a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login .forgot a:hover {
    color: #0056b3;
}

.login p {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.login .btn-register {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login .btn-register:hover {
    color: #0056b3;
}

/* input:focus-visible,
input:not(:placeholder-shown) {
    background-color: transparent; /* Atur latar belakang tetap transparan */
/* box-shadow: none; /* Hilangkan efek bayangan */
/* outline: none; Hilangkan outline biru
} */

@media only screen and (max-width: 581px){
    .login {
        position: absolute;
        left: 7%;
        top: 55%;
        width: 280px;
    }

    .bg-login img {
        width: 100%;
        float: right;
        position: relative;
    }
}
