* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.register {
    position: absolute;
    right: 15%; /* Menempatkan form di sebelah kanan layar */
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff; /* Latar belakang putih */
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1); /* Memberikan bayangan lembut */
    padding: 30px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    width: 320px; /* Lebar form */
    font-family: Arial, sans-serif;
}

.bg-register img {
    width: 90%;
    float: left;
    transform: scaleX(-1);
}

.register .signup {
    display: flex;
    flex-direction: column;
}

.register .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    color: #333333;
}

.input-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-field input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none; /* Agar tidak mengganggu klik */
    transition: all 0.3s ease; /* Untuk animasi */
}

.input-field input:focus {
    border-color: #007bff; /* Warna biru saat fokus */
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    padding: 0 7px;
    background-color: #fff;
    top: -10px; /* Pindahkan label ke atas */
    transform: translateY(0); /* Reset translate */
    font-size: 14px; /* Ukuran lebih kecil */
    color: #007bff; /* Warna biru untuk label */
}

.register .input-field p {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.register .btn {
    background-color: rgba(0, 123, 255, 0.1);
    color: #007bff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.register .btn:hover {
    background-color: #007bff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
}

.register p {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.register .btn-login {
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register .btn-login:hover {
    color: #0056b3;
}
