@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}
section {
    padding: 60px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../image/bg-1.jpg);
    background-size: cover;
    display: flex;
    background-position: right;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

.banner::before {
    content: "";
    background-color: #04364a;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -5;
}

.banner::after {
    content: "";
    display: blok;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent 0 30%,
        #04364a 70% 100%
    );
}

.banner .textBx h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    line-height: 1.5em;
}

.banner .textBx p {
    color: #fff;
    max-width: 700px;
}
.content {
    display: flex;
    justify-content: space-between;
}
.w50 {
    max-width: 50%;
}
.w50 img {
    width: 90%;
}
.w50 h1 {
    font-size: 20px;
    color: var(--skin-color-4);
}
.w50 h2 {
    font-size: 30px;
    color: #fff;
}
.tab {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-item: center;
    border-radius: 8px;
    background-color:#fff;
    justify-content: flex-start;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    padding: 14px 99px;
    color: var(--skin-color-1);
    transition: background-color 0.3s;
    font-weight: 600;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: var(--skin-color-3);
    color: #fff;
}

.tabcontent {
    display: none;
    height: 230px;
    padding: 10px;
    color: #fff;
    border-top: none;
    background-color: transparent;
    margin-top: -1px;
    overflow-y: auto;
}
.scrollable-content::-webkit-scrollbar {
    display: none; /* Menghilangkan scroll bar di WebKit */
}

.tabcontent p.misi{
    max-width: 400px;
    font-size: 14px;

 }

 .tabcontent p{
    max-width: 430px;
    font-size: 14px;
    margin-bottom: 10px;

 }

/* Default content visible */
#defaultOpen {
    display: block;
}

section.mitpro {
    background-color: #fff;
}

section.mitpro hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
}

.box {
    position: relative;
    max-width: 200px;
    margin: 30px;
}
.box img {
    width: 220px;
    height: 300px;
    object-fit: cover;
    object-position: 15% 100%;
    border-radius: 10px;
}
.textbx-card p {
    padding-bottom: 20px;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
}

.textbx-card h3 {
    padding-top: 50px;
    padding-left: 20px;
    position: absolute;
    top: 0;
    color: #fff;
}

.product-title {
    color: #04364a;
    display: flex;
    justify-content: center;
    aligh-item: center;
    margin-bottom: 30px;
}

.client {
    color: #04364a;
    display: flex;
    justify-content: center;
    aligh-item: center;
    margin-bottom: 30px;
}

.mitra-logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.mitra-logo img {
    width: 30%;
    justify-content: center;
    aligh-item: center;
    padding: 10px;
}
