@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    aligh-item: center;
    transition: 0.5s;
}

header.sticky {
    backround: #fff;
    padding: 20px 0px;
    box-shadow: 0 5px 20px rga(0, 0, 0, 1);
}
header .logo {
    display: flex;
    color: #fff;
    align-items: center;
    margin-right: 15pc;
    justify-content: flex-end;
    font-size: 28;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}

header .logo img {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}
header.sticky .logo {
    color: #111;
}
header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-blok;
    margin: 0 15px;
    color: #fff;
    font-decoration: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}
header ul li a:hover {
    color: var(--skin-color-1);
}
header.sticky ul li a {
    color: #fff;
}
header.sticky ul li a:hover {
    color: var(--skin-color-1);
}
section {
    padding: 100px;
}

.banner::before {
    content: "";
    background-color: #04364a;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -5;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../image/bg-2.jpg);
    background-size: cover;
    display: flex;
    background-position: right;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

.banner::after {
    content: "";
    display: blok;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent 0 30%,
        #04364a 70% 100%
    );
}

.banner .textBx h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    line-height: 1.5em;
}

.banner .textBx p {
    color: #fff;
    max-width: 700px; /* Batasi lebar paragraf */
}
.content {
    display: flex;
    justify-content: space-between;
}
.contentBx {
    padding-right: 30px;
}
.contentBx h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contentBx p {
    font-size: 17px;
    font-style: italic;
}
.w50 {
    max-width: 50%;
}
.w50 img {
    width: 90%;
}
