* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    aligh-item: center;
    transition: 0.5s;
}

header.sticky {
    background-color: #fff;
    padding: 20px 0px;
    box-shadow: 0 5px 20px rga(0, 0, 0, 1);
}
header .logo {
    display: flex;
    color: #fff;
    align-items: center;
    margin-right: 15pc;
    justify-content: flex-end;
    font-size: 28;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}

header .logo img {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}
header.sticky .logo {
    color: #04364A;
}
header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;

}

header ul li.dropdown{
    display: inline-block;
    justify-content:center;
}

header ul li.dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    z-index: 1;
}
header ul li.dropdown:hover .dropdown-content{
    display: block;
    transition: 0.5s;
}

header ul li.dropdown .dropdown-content a{
    color: black;
    padding: 12px 16px;
    font-size: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

header ul li a {
    position: relative;
    display: inline-blok;
    margin: 0 15px;
    color: #fff;
    font-decoration: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}
header ul li a:hover,
.dropdown:hover .dropbtn {
    color: #FF9B06;
}
header.sticky ul li a {
    color: #04364A;
}
header.sticky ul li a:hover {
    color: #FF9B06 ;
}
