* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    aligh-item: center;
    transition: 0.5s;
}

header.sticky {
    background-color: #fff;
    padding: 20px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header .logo {
    display: flex;
    color: #fff;
    align-items: center;
    margin-right: 15pc;
    justify-content: flex-end;
    font-size: 28;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}

header .logo img {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}
header.sticky .logo {
    color: #04364a;
}
header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

<<<<<<< HEAD
=======
header ul li.dropdown {
    display: inline-block;
    justify-content: center;
}

header ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    z-index: 1;
}
header ul li.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s;
}

header ul li.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

>>>>>>> f5595519b05b6ebfb46b3d0b1f2fe7a8a34f55b0
header ul li a {
    position: relative;
    display: inline-blok;
    margin: 0 15px;
    color: #fff;
    font-decoration: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown-button:hover {
    color: var(--skin-color-4) ;
}

.dropdown-menu {
    display: none; /* Initially hidden */
    position: absolute;
    margin-top: 10px;
    min-width: 200px;
    border: 1px solid #ccc;
    background-color: var(--skin-color-1);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header.sticky .dropdown-menu{
    background-color: #fff;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}


header ul li a:hover,
<<<<<<< HEAD
.dropdown-menu a:hover {
    color: var(--skin-color-4);
}
header.sticky ul li a,
header.sticky .dropdown-button
{
    color: var(--skin-color-1);
}
header.sticky ul li a:hover,
header.sticky .dropdown-menu a:hover {
    color: var(--skin-color-4);
=======
.dropdown:hover .dropbtn {
    color: #ff9b06;
}
header.sticky ul li a {
    color: #04364a;
}
header.sticky ul li a:hover {
    color: #ff9b06;
>>>>>>> f5595519b05b6ebfb46b3d0b1f2fe7a8a34f55b0
}
