@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}

section {
    padding: 6em 12em;
}

.banner::before {
    content: "";
    background-color: #04364a;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -5;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../image/bg-9.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

.banner::after {
    content: "";
    display: blok;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent 0 30%,
        #04364a 70% 100%
    );
    z-index:-3;
}

.banner .textBx h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    line-height: 2em;
}

.banner .textBx p {
    font-size: 1em;
    color: #fff;
    text-align: justify;
    max-width: 70%;
}

.history {
    background-color: #fff;
    padding: 6em 12em;
}

.nilai-utama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nilai-utama h3{
    color: var(--skin-color-1);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    margin: 1.2em 0;

}

.nilai-utama p{
    font-size: 3rem;
    color: var(--skin-color-1);
    text-align: justify;
    margin: 0.5em;
}

.content-histori {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.content-histori h3{
    color: var(--skin-color-1);
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
}

.content-histori p{
    font-size: 1em;
    color: var(--skin-color-1);
    text-align: justify;
    margin: 1.1em 0;
}

.box-1 {
    display: flex;
    gap: 2.5em;
    background-color: #fff;
    justify-content: space-between;
}

.navtab{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navtab h2 {
    font-size: 2.5em;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    gap: 1.5em;
}

.tab button {
    border: 1px solid;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px 89px;
    color: var(--skin-color-1);
    transition: background-color 0.3s;
    font-weight: 600;
    font-size: 1.1em;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: var(--skin-color-3);
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 0.8em 1em;
    height: 26em;
    color: var(--skin-color-1);
    border-top: none;
    background-color: transparent;
    overflow-y: auto;
    margin: 0.8em 0;
}
.scrollable-content::-webkit-scrollbar {
    display: none;
}

.tabcontent p,
.tabcontent ol {
    max-width: 27em;
    font-size: 1em;
    padding-left: 0.75em;
    text-align:justify;
}

.tabcontent li {
    padding-left: 0.75em;
    margin-bottom: 0.75em;

}

#defaultOpen {
    display: block;
}

.sasaran {
    display: flex;
    flex-direction: column;
}

.sasaran h3{
    border: 1px solid;
    background-color: var(--skin-color-1);
    border-radius: 10px;
    padding: 14px 89px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.sasaran .judul-span{
    display: flex;
    font-size: 1.15em;
    font-weight: 500;
    color: var(--skin-color-1);
    margin-bottom: 0.75em;
    align-items: center;
}

.sasaran .sasaran-span{
    font-size: 1em;
    text-align: justify;
    color: var(--skin-color-1);
    margin-bottom: 0.9em;
}

@media only screen and (max-width: 1280px) and (min-width: 1024px){
    section {
        padding: 3em 8em;
    }

    .banner {
        position: relative;
        min-height: 85vh;
    }

    .banner .textBx h2 {
        font-size: 1.8em;
        line-height: 2em;
    }

    .banner .textBx p {
        font-size: 1em;
    }

    .history{
        padding: 2.5em 6.5em;
    }

    .nilai-utama h3{
        font-size: 1.35em;
        margin: 1.1em 0;
    }

    .nilai-utama p{
        font-size: 2.5rem;
        font-weight: 500;
        margin: 0.5em;
    }

    .content-histori {
        margin: 1em 0;
    }

    .content-histori h3{
        font-size: 1.65em;
        margin: 0.8em 0;
    }

    .content-histori p{
        font-size: 0.95em;
        margin: 0.85em 0;
    }

    .tab {
        gap: 1.5em;
    }

    .sasaran h3,
    .tab button {
        padding: 9px 89px;
        font-size: 1em;
    }

    .tabcontent{
        height: 24em;
    }

    .tabcontent p,
    .tabcontent ol {
        font-size: 0.95em;
    }

    .sasaran .judul-span{
        font-size: 1em;
        font-weight: 500;
        margin: 0.5em 0.5em;
    }

    .sasaran .sasaran-span{
        font-size: 1em;
        margin: 0.5em 1em;
    }

}


@media only screen and (max-width: 1024px) and (min-width: 768px){
    section {
        padding: 3em 6em;
    }

    .banner {
        position: relative;
        min-height: 60vh;
    }

    .banner .textBx h2 {
        font-size: 1.5em;
        line-height: 2.5em;
    }

    .banner .textBx p {
        max-width: 100%;
        font-size: 0.85em;
    }

    .history{
        padding: 2em 4em;
    }

    .nilai-utama h3{
        font-size: 1.1em;
        margin: 0.9em 0;
    }

    .nilai-utama p{
        font-size: 2rem;
        font-weight: 500;
    }

    .content-histori {
        margin: 1em 0;
    }

    .content-histori h3{
        font-size: 1.25em;
        margin: 0.5em 0;
    }

    .content-histori p{
        font-size: 0.8em;
        margin: 0.65em 0;
    }

    .box-1{
        display: flex;
        flex-direction: column;
    }

    .tab {
        gap: 1.5em;
    }

    .sasaran h3,
    .tab button {
        padding: 9px 89px;
        font-size: 0.9em;
    }

    .tabcontent{
        height: 17.5em;
        place-items: center;
    }

    .tabcontent p,
    .tabcontent ol {
        max-width: 100%;
        font-size: 0.8em;
    }

    .sasaran .judul-span{
        font-size: 0.9em;
        margin: 0.5em 0.5em;
    }

    .sasaran .sasaran-span{
        font-size: 0.8em;
        margin: 0.25em 0.8em;
    }
}



@media only screen and (max-width: 768px) and (min-width: 480px){

    section{
        padding: 5em;
    }
    .history {
        padding: 3.5em;
    }

    .banner {
        position: relative;
        min-height: 70vh;
    }

    .banner .textBx h2 {
        font-size: 1.35em;
        line-height: 2.5em;
    }

    .banner .textBx p {
        max-width: 100%;
    }

    .nilai-utama h3{
        font-size: 0.9em;
        margin: 0.8em 0;
    }

    .nilai-utama p{
        font-size: 1.65rem;
    }

    .content-histori {
        margin: 1em 0;
    }

    .content-histori h3{
        font-size: 1.1em;
        margin: 0.5em 0;
    }

    .content-histori p{
        font-size: 0.75em;
        margin: 0.65em 0;
    }

    .box-1{
        display: flex;
        flex-direction: column;
    }

    .tab {
        gap: 1.5em;
    }

    .sasaran h3,
    .tab button {
        padding: 5px 75px;
        font-size: 0.8em;
    }

    .tabcontent{
        height: 16em;
        place-items: center;
    }

    .tabcontent p,
    .tabcontent ol {
        max-width: 100%;
        font-size: 0.75em;
    }

    .sasaran .judul-span{
        font-weight: 500;
        font-size: 0.8em;
        margin: 0.5em 0.5em;
    }

    .sasaran .sasaran-span{
        font-size: 0.75em;
        margin: 0.25em 0.8em;
    }
}

@media only screen and (max-width: 480px){
    section{
        padding: 3.5em;
    }
    .history {
        padding: 1.5em;
    }

    .banner {
        position: relative;
        min-height: 70vh;
    }

    .banner .textBx h2 {
        font-size: 1.2em;
        line-height: 2.5em;
    }

    .banner .textBx p {
        max-width: 100%;
        font-size: 0.7em;
    }

    .nilai-utama h3{
        font-size: 0.9em;
        margin: 0.8em 0;
    }

    .nilai-utama p{
        font-size: 1.35rem;
    }

    .content-histori {
        margin: 1em 0;
    }

    .content-histori h3{
        font-size: 1.1em;
        margin: 0.5em 0;
    }

    .content-histori p{
        font-size: 0.75em;
        margin: 0.65em 0;
    }

    .box-1{
        display: flex;
        flex-direction: column;
    }

    .tab {
        gap: 1.5em;
    }

    .sasaran h3,
    .tab button {
        padding: 8px 65px;
        font-size: 0.8em;
    }

    .tabcontent{
        height: 17em;
        place-items: center;
    }

    .tabcontent p,
    .tabcontent ol {
        max-width: 100%;
        font-size: 0.75em;
    }

    .sasaran .judul-span{
        font-weight: 500;
        font-size: 0.8em;
        margin: 0.5em 0.5em;
    }

    .sasaran .sasaran-span{
        font-size: 0.75em;
        margin: 0.25em 0.8em;
    }

}
