@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}

section {
    padding: 100px;
}

.banner::before {
    content: "";
    background-color: #04364a;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -5;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../../image/bg-10.jpg);
    background-size: cover;
    display: flex;
    background-position: right;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

.banner::after {
    content: "";
    display: blok;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent 0 30%,
        #04364a 70% 100%
    );
}

.banner .textBx h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    line-height: 1.5em;
}

.banner .textBx p {
    color: #fff;
    max-width: 700px; /* Batasi lebar paragraf */
}
.content {
    display: flex;
    justify-content: space-between;
}
.contentBx {
    padding-right: 30px;
}
.contentBx h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contentBx p {
    font-size: 17px;
    font-style: italic;
}
.w50 {
    max-width: 50%;
}
.w50 img {
    width: 90%;
}

section.product-personal {
    background-color: #fff;
}

.title-produk {
    color: #04364a;
    display: flex;
    justify-content: center;
    aligh-item: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 581px){
    section{
        padding: 1.5em;
    }

    .content{
        display: block;
    }
}

