@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    background-color: #04364a;
    scroll-behavior: smooth;

}section {
    padding: 6em 12em;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../../image/bg-1.jpg);
    background-size: cover;
    display: flex;
    background-position: right;
    background-attachment: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

.banner::before {
    content: "";
    background-color: #04364a;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -3;
}

.banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 6.25em;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent 0 30%,
        #04364a 70% 100%
    );
    z-index: -2;
}

.banner .txtBx {
    margin-left: 9.38em;
    margin-right: 9.38em;
    z-index: -1;
}

.banner .textBx h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.63em;
    font-weight: 700;
    line-height: 1.5em;
    z-index: 0;
}

.banner .textBx p {
    color: #fff;
    text-align: justify;
    max-width: 100%;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.w50 {
    max-width: 50%;
}

.w50 img {
    height: 18.75em;
    object-fit: scale-down;
}

.w50 h1 {
    font-size: 1.25em;
    color: var(--skin-color-4);
}

.w50 h2 {
    font-size: 1.69em;
    color: #fff;
}

.container-chose {
    display: flex;
    gap: 1.25em;
    padding: 0.94em;
}

.card-chose {
    width: 14.38em;
    background: #fff;
    border-radius: 0.63em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-chose:hover {
    transform: scale(1.05);
    box-shadow: 0 0.38em 0.75em rgba(0, 0, 0, 0.3);
}

.card-header {
    background: #4CAF50;
    color: #fff;
    padding: 0.94em;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-content {
    padding: 1.25em;
}

.card-section {
    margin-bottom: 0.94em;
}

.card-section h3 {
    margin-bottom: 0.63em;
    font-size: 1.13em;
    color: #333;
    border-left: 0.31em solid var(--skin-color-1);
    padding-left: 0.63em;
}

.card-section ul {
    list-style-type: disc;
    margin-left: 1.25em;
    font-size: 0.88em;
    padding: 0;
    color: #555;
}

.card-section ul li {
    margin-bottom: 0.31em;
}

.tim-peribumi {
    display: flex;
    margin-top: 0.94em;
    align-items: center;
    border-radius: 0.5em;
    justify-content: flex-start;
}

.tim-peribumi .peribumi {
    background-color: inherit;
    text-transform: uppercase;
    border: 0.13em solid #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.75em 1.88em;
    color: #fff;
    font-weight: 700;
    font-size: 1.13em;
    transition: 0.3s ease;
}

.tim-peribumi .peribumi:hover {
    color: var(--skin-color-1);
    background: #fff;
    border: 0.13em solid var(--skin-color-2);
}


.mitpro {
    background-color: #fff;

}
.title-client,
.title-product{
    padding: 0.8em;
    color: var(--skin-color-1);
}

.title-client h2,
.title-product h2 {
    font-size: 1.4em;
    margin-bottom: 0.8em;
    text-align: center;
}

.title-client p,
.title-product p {
    font-size: 0.8em;
    padding: 0.4em;
    margin-bottom: 0.8em;
    text-align: center;
}



.mitpro hr {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.cards-container {
    display: flex;
    padding: 2em 0;
    gap: 0.75em;
    justify-content: center;
    flex-direction: row;
  }

  .card {
    max-width: 15em;
    height: 20em;
    border-radius: 0.6em;
    overflow: hidden;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.3);
  }

  .box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  }

  .gradient-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    transition: opacity 0.3s ease;
  }

  .textbx-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    padding: 1em;
    text-align: center;
    color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .textbx-card h3 {
    font-size: 1em;
  }

  .textbx-card p {
    font-size: 0.75em;
    opacity: 0;
    transform: translateY(1em);
  }

  .card:hover .box img {
    filter: brightness(0.7);
    transform: scale(1);
  }

  .card:hover .gradient-layer {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  .card:hover .textbx-card {
    background: transparent;
  }

  .card:hover .textbx-card p {
    opacity: 1;
    transform: translateY(0);
  }

  .textbx-card h3 {
    transform: translateY(-1em);
    transition: transform 0.3s ease;
  }

  .card:hover .textbx-card h3 {
    transform: translateY(-4em);
  }

.client {
    color: #04364a;
    display: flex;
    justify-content: center;
    align-item: center;
    margin-bottom: 1.5em;
}

.mitra-logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    gap: 0.25em;
}
.mitra-logo img {
    width: 33%;
    justify-content: center;
}

.alert-popup {
    position: fixed;
    top: 0.25em;
    right: -1em;
    z-index: 1000;
    animation: fadeIn 0.5s forwards;
    opacity: 1;
    margin-bottom: 0.5em;
}

.alert {
    border-left: 0.5em solid rgba(200, 200, 200, 1);
    background: rgba(255, 255, 255, 1);
    padding: 1em;
    max-width: 25em;
    text-align: center;
    position: relative;
    box-shadow: 0 0.625em 1.875em rgba(0, 0, 0, 0.3), 0 0.375em 0.9375em rgba(0, 255, 0, 0.1);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}

.message {
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    margin-bottom: 0.625em;
    line-height: 1.6;
    display: block;
}

.countdown-bar {
    width: 100%;
    height: 0.1875em;
    background: rgba(0, 200, 0, 1);
    position: absolute;
    bottom: 0;
    right: 0;
    animation: countdown 5s linear forwards;
}

@keyframes countdown {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(-1em);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(-1em);
    }
    to {
        opacity: 0;
        transform: translateX(0);
    }
}


.about{
    /* padding:0; */
    overflow:hidden;
}

.circle{
    position: absolute;
    width: 40em;
    height: 40em;
    border-radius: 50%;
    top: 3%;
    right: -20%;
    background-color:#fff;
    box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.3);
    z-index:-1;
}


.photo-stack {
    position: relative;
    top:1.875em;
    width: 18.75em;
    height: 25em;
    perspective: 1000px;
}


.photo:nth-child(1) {
    object-fit:cover;
    position: absolute;
    width: 80%;
    height: 80%;
    background: #7f8c8d;
    text-align: center;
    line-height: 17.5em;
    font-size: 1.25em;
    color: white;
    border-radius: 0.625em;
    box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.3);
    border:0.125em solid #fff;
    z-index: 3;
    transform: rotate(0deg);
    animation: photo1 20s ease-in-out infinite;
}

/* Foto 2: Lebih kecil dari foto 1 */
.photo:nth-child(2) {
    object-fit:cover;
    position: absolute;
    width: 50%;
    height: 50%;
    background: #95a5a6;
    text-align: center;
    line-height: 10em;
    font-size: 0.9em;
    color: white;
    border-radius: 0.625em;
    box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.3);
    border:0.125em solid #fff;
    z-index: 2;
    transform: rotate(337deg);
    bottom: 2.5em;
    left: 1em;
    animation: photo2 20s ease-in-out infinite;
}


.photo:nth-child(3) {
    object-fit:cover;
    position: absolute;
    width: 50%;
    height: 50%;
    background: #bdc3c7;
    text-align: center;
    line-height: 10em;
    font-size: 0.8em;
    color: white;
    border-radius: 0.625em;
    box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.3);
    border:0.125em solid #fff;
    z-index: 1;
    transform: rotate(19deg);
    bottom: 2.5em;
    right: 1.5em;
    animation: photo3 20s ease-in-out infinite;
}

/* Keyframes untuk Foto 1 */
@keyframes photo1 {
    0%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(0deg);
    }
    20%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(0deg);
    }
    30%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 7.5em;
        transform: rotate(20deg);
    }

    50%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 7.5em;
        transform: rotate(20deg);
    }

    60%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(-20deg);
    }

    80%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(-20deg);
    }

    90%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(0deg);
    }

    100%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(0deg);
    }
}

/* Keyframes untuk Foto 2 */
@keyframes photo2 {
    0%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(-20deg);
    }
    20%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(-20deg);
    }
    30%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(0deg);
    }

    50%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(0deg);
    }

    60%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 7.5em;
        transform: rotate(20deg);
    }

    80%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 7.5em;
        transform: rotate(20deg);
    }

    90%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(-20deg);
    }

    100%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(-20deg);
    }
}

/* Keyframes untuk Foto 3 */
@keyframes photo3 {
    0%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 7.5em;
        transform: rotate(20deg);
    }
    20%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 7.5em;
        transform: rotate(20deg);
    }
    30%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(-20deg);
    }

    50%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(-20deg);
    }

    60%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(0deg);
    }

    80%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 2.5em;
        left: 1em;
        transform: rotate(0deg);
    }

    90%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 7.5em;
        transform: rotate(20deg);
    }

    100%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 2.5em;
        left: 7.5em;
        transform: rotate(20deg);
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px){

}

@media only screen and (max-width: 1024px) and (min-width: 768px){

}

@media only screen and (max-width: 768px) and (min-width: 480px){

}

@media only screen and (max-width: 480px) {}


@media only screen and (max-width: 1280px){
    section {
        padding: 6em 9em;
    }

    .banner {
        position: relative;
        min-height: 80vh;
    }

    .circle {
        position: absolute;
        bottom: -31.25em;
        right: -15.625em;
    }
}

@media only screen and (max-width: 887px){
    section {
        padding: 3em 6em;
    }

    .banner {
        position: relative;
        min-height: 70vh;
    }

    .circle {
        position: absolute;
        bottom: -12.5em; /* -200px */
        right: -17.5em; /* -280px */
    }
}

@media only screen and (max-width: 728px){
    body {
        overflow-x: hidden;
    }
    .banner {
        height: 60vh;
    }

    .banner .textBx h2 {
        font-size: 1.75em; /* 28px */
    }

    .banner .textBx p {
        font-size: 1em; /* 16px */
    }

    section {
        padding: 1.5em;
    }

    .container-chose {
        display: flex;
        gap: 0.625em; /* 10px */
        padding: 0.625em; /* 10px */
    }

    .card-header {
        padding: 0.9375em; /* 15px */
        font-size: 1.5rem;
        font-weight: 500;
    }

    .card-content {
        padding: 1.25em; /* 20px */
    }

    .card-section {
        margin-bottom: 0.9375em; /* 15px */
    }

    .card-section h3 {
        margin-bottom: 0.5em; /* 8px */
        font-size: 1.125em; /* 18px */
    }

    .card-section ul {
        font-size: 0.875em; /* 14px */
    }

    .card-section ul li {
        margin-bottom: 0.3125em; /* 5px */
        font-size: 0.75em; /* 12px */
    }

    .circle {
        display: none;
    }

    .content {
        display: block;
    }

    .content img {
        display: none;
    }

    .tab button {
        padding: 0.875em 4.0625em; /* 14px 65px */
    }

    .w50 {
        max-width: 100%;
    }

    .w50 h1 {
        font-size: 1em; /* 16px */
    }

    .w50 h2 {
        font-size: 1.25em; /* 20px */
    }

    .alert-popup {
        position: fixed;
        top: 13%;
        right: -1.25em; /* -20px */
        z-index: 1000;
        animation: fadeIn 0.5s forwards;
        opacity: 1;
        margin-bottom: 0.625em; /* 10px */
    }

    .alert {
        padding: 0.625em; /* 10px */
        max-width: 25em; /* 400px */
        position: relative;
    }

    .message {
        font-size: 0.625em; /* 10px */
        font-weight: 600;
        margin-bottom: 0.625em; /* 10px */
    }

    .title-client h2,
    .title-product h2 {
        font-size: 1.25em; /* 20px */
        margin-bottom: 0.625em; /* 10px */
    }

    .title-client p,
    .title-product p {
        font-size: 0.75em; /* 12px */
    }

    .mitra-logo {
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: auto;
    }

    .mitra-logo img {
        width: 100%;
    }

    .carousel-container {
        width: 100%;
        overflow-x: hidden;
        position: relative;
    }

    .cards-container {
        width: 100%;
        padding: 0;
        gap: 0.9375em; /* 15px */
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        transition: transform 0.3s ease;
    }

    .card {
        min-width: 12.5em; /* 200px */
        border-radius: 0.625em; /* 10px */
        overflow-x: hidden;
        box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .textbx-card h3 {
        font-size: 0.875em; /* 14px */
        margin-bottom: 0.625em; /* 10px */
        transform: translateY(-0.3125em); /* -5px */
        transition: transform 0.3s ease;
    }

    .card:hover .textbx-card h3 {
        transform: translateY(-3.125em); /* -50px */
    }

    .textbx-card p {
        font-size: 0.0625em; /* 1px */
        opacity: 0;
        transform: translateY(0.3125em); /* 5px */
    }

    .banner {
        min-height: 80vh;
    }

    .banner .textBx h2 {
        font-size: 1.5em;
    }

    .banner .textBx p {
        font-size: 0.8em; /* 12px */
    }

    .tim-peribumi {
        justify-content: center;
    }

    .tim-peribumi .peribumi {
        border: 0.125em solid #fff; /* 2px */
        padding: 0.625em 1.25em; /* 10px 20px */
        color: #fff;
        font-weight: 600;
        font-size: 0.875em; /* 14px */
    }
}
