@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}

section {
    padding: 6em 12em;
}

.banner::before {
    content: "";
    background-color: #04364a;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -5;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../../image/bg-10.jpg);
    background-size: cover;
    display: flex;
    background-position: right;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

.banner::after {
    content: "";
    display: blok;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent 0 30%,
        #04364a 70% 100%
    );
}

.banner .textBx h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    line-height: 1.5em;
}

.banner .textBx p {
    color: #fff;
    max-width: 700px;
}

section.history {
    background-color: #fff;
}

.content-histori {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3pc 10px;
}

.content-histori h3{
    color: var(--skin-color-1);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content-histori p{
    font-size: 14px;
    text-align: justify;
    margin-bottom: 15px;
}

.box-1 {
    display: flex;
    gap: 30px;
    background-color: #fff;
    justify-content: space-between;
}

.navtab{
    flex-direction: column;
}

.navtab h2 {
    font-size: 30px;
}

.tab {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 1.5pc;
}

.tab button {
    background-color: inherit;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px 89px;
    color: var(--skin-color-1);
    transition: background-color 0.3s;
    font-weight: 600;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: var(--skin-color-3);
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 10px 5px;
    height: 410px;
    color: var(--skin-color-1);
    border-top: none;
    background-color: transparent;
    overflow-y: auto;
    margin: 10px 0;
}
.scrollable-content::-webkit-scrollbar {
    display: none;
}

.tabcontent ol {
    max-width: 430px;
    font-size: 14px;
    padding-left: 10px;
    text-align:justify;
}

.tabcontent li {
    padding-left:10px;
    margin-bottom:10px;

}

.tabcontent p {
    max-width: 430px;
    font-size: 14px;
    margin-bottom: 10px;
}

#defaultOpen {
    display: block;
}

.struktur-image{
    max-width: 63%;
    object-fit: scale-down;
}




@media only screen and (max-width: 581px){
    .banner {
        position: relative;
        min-height: 70vh;
    }

    .banner .textBx h2 {
        font-size: 1.5em;
        color: #fff;
        font-weight: 700;
        line-height: 1.5em;
    }

    .banner .textBx p {
        color: #fff;
        font-size: 14px;
        max-width: 700px;
    }

    section{
        padding: 0.8em;
    }

    .navtab h1 {
        display: flex;
        font-size: 24px;
        justify-content: center;
    }

    .tab {
        margin-top: 10px;
        justify-content: center;
    }

    .tab button {
        color: var(--skin-color-1);
        font-weight: 600;
        font-size: 17px;
        border-radius: 10px;
        padding: 12px 60px;
    }

    .tabcontent {
        display: none;
        height: 300px;
        padding: 0 20px;
    }

    .content{
        display: block;
    }

    .box-1{
        flex-direction: column;
    }

    .struktur-image{
        position: relative;
        max-width: 100%;
        left: 5%;
        height: 100%;
    }
}
