.full-screen {
    padding: 3em 8em;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

/*---------------- Title Produk --------------------- */

.container {
    width: 75%;
    margin: 0 1em;
    padding: 1.25em;
    border: 0.063em solid #ddd;
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.produk-header {
    text-align: center;
    margin: 0;
    margin-bottom: 1.25em;
}

.produk-title {
    font-size: 1.5em;
    color: var(--skin-color-1);
    font-weight: 750;
    text-transform: uppercase;
    margin-bottom: 0.938em;
}

.produk-image {
    width: 100%;
    max-height: 18.75em;
    object-fit: cover;
    border-radius: 0.625em;
}

.section-title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--skin-color-1);
    text-align: center;
    margin-bottom: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.063em;
}

.produk-details {
    max-width: 50em;
    margin: 0;
}

.detail-item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 1em;
    height: fit-content;
}

.detail-label {
    font-size: 1em;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 0.5em;
    text-transform: capitalize;
}

.detail-value {
    font-size: 1em;
    color: #545454;
    word-wrap: break-word;
}

/*---------------- Silabus --------------------- */

/* .silabus-container {
    width: 90%;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
}

.silabus-item {
    border: 0.063em solid #ccc;
    border-radius: 0.5em;
    margin-bottom: 0.938em;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.silabus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0.938em 1.25em;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
    transition: background 0.3s ease;
}

.silabus-title {
    margin: 0;
    flex: 1;
}

.silabus-toggle i {
    font-size: 1.5em;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #5c5b5b;
}

.silabus-content {
    padding: 0.938em 1.25em;
    background-color: #f9f9f9;
    border-top: 0.063em solid #ddd;
    display: none;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.silabus-content.open {
    display: block;
}

.silabus-desc {
    margin-bottom: 0.938em;
    color: #555;
    font-size: 1em;
    line-height: 1.5;
}

.isi-silabus-item {
    margin-bottom: 0.938em;
    padding: 0.625em;
    border-left: 0.188em solid #a6a1a1;
    background-color: #fff;
    border-radius: 0.25em;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.05);
} */

.garis-bawah {
    width: 100%;
    margin: 2em 0;
}

/*---------------- Review Collom --------------------- */

.rate {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
    margin-bottom: 20px;
}

.rate input[type="radio"] {
    display: none;
}

.rate label {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    width: fit-content;
}

.rate label:hover ~ label,
.rate label:hover {
    color: #f39c12;
}

.rate input:checked ~ label {
    color: #f39c12;
}

.comment-box {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    resize: none;
}

.submit-btn {
    background-color: #2980b9;
    color: white;
    padding: 15px 20px;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #1abc9c;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.no-reviews {
    text-align: center;
    font-size: 1em;
    color: #7f8c8d;
    font-style: italic;
    margin-top: 1.25em;
}

.review-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.review-item {
    background: #f9f9f9;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    max-width: 1200px;
    gap: 20px;
}

.review-item strong {
    font-size: 18px;
    color: #2c3e50;
}

.review-stars i {
    color: #f39c12;
    margin: 10px 3px 0 0;
    font-size: 16px;
}

.review-item p {
    font-size: 14px;
    color: #7f8c8d;
    margin: 10px 0 0;
}

.review-item em {
    font-size: 12px;
    color: #bdc3c7;
    display: block;
    margin-top: 5px;
    text-align: right;
    font-style: normal;
}

.review-item:hover {
    background: #f1f1f1;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
}
/*---------------- Card harga --------------------- */

.card-harga {
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    border: 0.063em solid #ddd;
    border-radius: 0.625em;
    padding: 1em;
    max-width: 25%;
    height: fit-content;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
}

.image-card {
    width: 100%;
    max-height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.detail-label {
    font-size: 1rem;
    font-weight: bold;
    color: #242424;
    margin-bottom: 8px;
}

.btn-detail{
    padding: 10px;
    text-align: center;
    width: 20%;
    background-color: #385d9a;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.btn-detail:hover{
    transform: scale(1.05);
}

.deskripsi-harga {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.5;
}

.btn-beli {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-beli:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* --------------- Emote Color ----------------- */
.color-emote {
    color: #ffba24;
    background-color: #111;
    border-radius: 50%;
}

.no-link {
    font-size: 1rem;
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .full-screen {
        padding: 3em 6em;
    }

    .container {
        margin: 0 0.5em;
    }

    .produk-title {
        font-size: 1.35em;
        margin-bottom: 0.8em;
    }

    .produk-image {
        max-height: 16.5em;
    }

    .section-title {
        font-size: 1.35em;
    }

    .detail-label {
        font-size: 0.95em;
    }

    .detail-value {
        font-size: 0.9em;
    }

    .btn-detail{
        font-size: 0.85rem
    }

    .no-reviews {
        font-size: 0.9em;
    }

    .deskripsi-harga {
        font-size: 0.9rem;
    }
    .no-link {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .full-screen {
        padding: 3em;
    }

    .container {
        margin: 0 0.5em;
    }

    .produk-title {
        font-size: 1.1em;
        margin-bottom: 0.8em;
    }

    .produk-image {
        max-height: 15em;
    }

    .section-title {
        font-size: 1.05em;
    }

    .detail-label {
        font-size: 0.8em;
    }

    .detail-value {
        font-size: 0.53rem;
    }

    .btn-detail:hover{
        transform: none;
    }

    .btn-detail{
        font-size: 0.75rem
    }

    .card-harga {
        width: 30%;
    }

    .deskripsi-harga {
        font-size: 0.75rem;
    }

    .no-reviews {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    .full-screen {
        padding: 1.5em;
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 100%;
        margin: 0.5em 0;
    }

    .produk-title {
        font-size: 0.95em;
        margin-bottom: 0.8em;
    }

    .produk-image {
        max-height: 10em;
    }

    .section-title {
        font-size: 0.9em;
    }

    .detail-label {
        font-size: 0.7em;
    }

    .detail-value {
        font-size: 0.65em;
    }

    .btn-detail:hover{
        transform: none;
    }

    .card-harga {
        width: 100%;
    }

    #label-harga,
    .deskripsi-harga,
    .image-card {
        display: none;
    }

    .no-reviews {
        font-size: 0.8em;
    }

    .no-link {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 480px) {
    .full-screen {
        padding: 0.75em;
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 100%;
        margin: 0.5em 0;
    }

    .produk-title {
        font-size: 0.95em;
        margin-bottom: 0.8em;
    }

    .produk-image {
        max-height: 10em;
    }

    .section-title {
        font-size: 0.9em;
    }

    .detail-label {
        font-size: 0.7em;
    }

    .detail-value {
        font-size: 0.65em;
    }

    .btn-detail{
        width: 30%;
        font-size: 0.6rem;
    }

    .btn-detail:hover{
        transform: none;
    }

    .card-harga {
        width: 100%;
    }

    #label-harga,
    .deskripsi-harga,
    .image-card {
        display: none;
    }

    .no-reviews {
        font-size: 0.8em;
    }

    .no-link {
        font-size: 0.7rem;
    }
}
