@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}

section {
    padding: 6em 12em;
}

.banner::before {
    content: "";
    background-color: #04364a;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -5;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../../image/bg-7.jpg);
    background-size: cover;
    display: flex;
    background-position: right;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

.banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent 0 30%,
        #04364a 70% 100%
    );
    z-index:-3;
}

.banner .textBx h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    line-height: 1.5em;
    z-index:-2;
}

.banner .textBx p {
    color: #fff;
    text-align: justify;
    max-width: 700px;
    z-index:-1;
}

section.product-digital {
    background-color: #fff;
}

.title-produk {
    color: #04364a;
    display: flex;
    justify-content: center;
    aligh-item: center;
    margin-bottom: 30px;
}

.rate {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: fit-content;
}

.rate input {
    display: none; /* Sembunyikan radio button */
}

.rate label {
    font-size: 30px; /* Ukuran bintang */
    color: #ddd; /* Warna bintang tidak aktif */
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.rate label:hover,
.rate label:hover ~ label {
    color: #f39c12; /* Warna bintang saat hover */
}

.rate input:checked ~ label {
    color: #f39c12; /* Warna bintang aktif */
}

@media only screen and (max-width: 581px){
    section{
        padding: 1.5em;
    }

    .banner {
        min-height: 60vh;
    }

    .banner .textBx h2 {
        font-size: 22px;
        color: #fff;
    }

    .banner .textBx p {
        font-size: 12px;
    }

    .content{
        display: block;
    }
}
