@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}

section {
    padding: 6em 12em;
}

.banner::before {
    content: "";
    background-color: #04364a;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -5;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../../image/bg-4.jpg);
    background-size: cover;
    display: flex;
    background-position: right;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

.banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent 0 30%,
        #04364a 70% 100%
    );
    z-index:-3;
}

.banner .textBx h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    line-height: 1.5em;
    z-index:-2;
}

.banner .textBx p {
    color: #fff;
    text-align: justify;
    max-width: 700px;
    z-index:-1; /* Batasi lebar paragraf */
}

section.product-personal {
    background-color: #fff;
}

.title-produk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-transform: justify;
}

.title-produk h3 {
    color: var(--skin-color-1);
    font-size: 1.75em;
}

@media only screen and (max-width: 1280px) and (min-width: 1024px){
    section {
        padding: 6em 10em;
    }

    .banner {
        position: relative;
        min-height: 100vh;
    }

    .banner .textBx h2 {
        font-size: 1.8em;
        margin-bottom: 0.45em;
    }

    .banner .textBx p {
        font-size: 1em;
        max-width: 100%;
    }

    .title-produk h3 {
        color: var(--skin-color-1);
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
    section {
        padding: 3em 4em;
    }

    .banner {
        position: relative;
        min-height: 100vh;
    }

    .banner .textBx h2 {
        font-size: 1.5em;
        margin-bottom: 0.35em;
        line-height: 1.5em;
    }

    .banner .textBx p {
        font-size: 1em;
        max-width: 100%;
    }

    .title-produk h3 {
        color: var(--skin-color-1);
        font-size: 1.35em;
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px){
    section {
        padding: 4em;
    }

    .banner {
        position: relative;
        min-height: 100vh;
    }

    .banner .textBx h2 {
        font-size: 1.5em;
    }

    .banner .textBx p {
        font-size: 0.8em;
    }

    .title-produk h3 {
        color: var(--skin-color-1);
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 480px){
    section{
        padding: 2.5em;
    }

    .banner .textBx h2 {
        font-size: 28px;

    }

    .banner .textBx p {
        font-size: 16px;
    }

    .banner .textBx p {
        font-size: 12px;
    }

    .title-produk h3 {
        color: var(--skin-color-1);
        font-size: 1.4em;
    }
}
