@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}
section {
    padding: 6em 12em;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../../image/bg-1.jpg);
    background-size: cover;
    display: flex;
    background-position: right;
    background-attachment: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

.banner::before {
    content: "";
    background-color: #04364a;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -3;
}

.banner::after {
    content: "";
    display: blok;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent 0 30%,
        #04364a 70% 100%
    );
    z-index: -2;
}
.banner .txtBx {
    margin-left:150px;
    margin-right:150px;
    z-index: -1;
}
.banner .textBx h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5em;
    z-index: 0;
}

.banner .textBx p {
    color: #fff;
    text-align: justify;
    max-width: 100%;
}
.content {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.w50 {
    max-width: 50%;
}
.w50 img {
    height: 300px;
    object-fit: scale-down;
}
.w50 h1 {
    font-size: 20px;
    color: var(--skin-color-4);
}
.w50 h2 {
    font-size: 27px;
    color: #fff;
}
.container-chose {
    display: flex;
    gap: 20px;
    padding: 15px;
}

.card-chose {
    width: 230px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-chose:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-header {
    background: #4CAF50;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-content {
    padding: 20px;
}

.card-section {
    margin-bottom: 15px;
}

.card-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    border-left: 5px solid var(--skin-color-1);
    padding-left: 10px;
}

.card-section ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 14px;
    padding: 0;
    color: #555;
}

.card-section ul li {
    margin-bottom: 5px;
}

.tim-peribumi{
    display: flex;
    margin-top: 15px;
    align-items: center;
    border-radius: 8px;
    justify-content: flex-start;
}

.tim-peribumi .peribumi{
    background-color: inherit;
    text-transform: uppercase;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 30px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s ease;

}

.tim-peribumi .peribumi:hover{
    color: var(--skin-color-1);
    background: #fff;
    border: 2px solid var(--skin-color-2);
}

section.mitpro {
    background-color: #fff;

}
.title-client,
.title-product{
    display: flex:
    padding: 10px;
    color: var(--skin-color-1);
}

.title-client h2,
.title-product h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}

.title-client p,
.title-product p {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
}



section.mitpro hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards-container {
    display: flex;
    padding: 40px 0;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
  }

  .card {
    max-width: 250px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  }

  .gradient-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    transition: opacity 0.3s ease;
  }

  .textbx-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    padding: 20px;
    text-align: center;
    color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .textbx-card h3 {
    font-size: 15px;
  }

  .textbx-card p {
    font-size: 11px;
    opacity: 0;
    transform: translateY(20px);
  }

  .card:hover .box img {
    filter: brightness(0.7);
    transform: scale(1);
  }

  .card:hover .gradient-layer {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  .card:hover .textbx-card {
    background: transparent;
  }

  .card:hover .textbx-card p {
    opacity: 1;
    transform: translateY(0);
  }

  .textbx-card h3 {
    transform: translateY(-15px);
    transition: transform 0.3s ease;
  }

  .card:hover .textbx-card h3 {
    transform: translateY(-80px);
  }

.client {
    color: #04364a;
    display: flex;
    justify-content: center;
    aligh-item: center;
    margin-bottom: 30px;
}

.mitra-logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    gap: 5px;
}
.mitra-logo img {
    width: 33%;
    justify-content: center;
}

.alert-popup {
    position: fixed;
    top: 5px;
    right: -20px;
    z-index: 1000;
    animation: fadeIn 0.5s forwards;
    opacity: 1;
    margin-bottom: 10px;
}

.alert {
    border-left: 8px solid rgba(200, 200, 200, 1);
    background: rgba(255, 255, 255, 1);
    padding: 15px;
    max-width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3), 0 6px 15px rgba(0, 255, 0, 0.1);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}

.message {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    line-height: 1.6;
    display: block;
}

.countdown-bar {
    width: 100%;
    height: 3px;
    background: rgba(0, 200, 0, 1);
    position: absolute;
    bottom: 0;
    right: 0;
    animation: countdown 5s linear forwards;
}

@keyframes countdown {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(-20px);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(-20px);
    }
    to {
        opacity: 0;
        transform: translateX(0);
    }
}


section.about{
    /* padding:0; */
    overflow:hidden;
}

.circle{
    position: absolute;
    width:700px;
    height:700px;
    border-radius:100%;
    top: 5%;
    right: -35%;
    background-color:#fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index:-1;
}


.photo-stack {
    position: relative;
    top:30px;
    width: 300px;
    height: 400px;
    perspective: 1000px;
}


.photo:nth-child(1) {
    object-fit:cover;
    position: absolute;
    width: 80%;
    height: 80%;
    background: #7f8c8d;
    text-align: center;
    line-height: 280px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border:2px solid #fff;
    z-index: 3;
    transform: rotate(0deg);
    animation: photo1 20s ease-in-out infinite;
}

/* Foto 2: Lebih kecil dari foto 1 */
.photo:nth-child(2) {
    object-fit:cover;
    position: absolute;
    width: 50%;
    height: 50%;
    background: #95a5a6;
    text-align: center;
    line-height: 200px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border:2px solid #fff;
    z-index: 2;
    transform: rotate(337deg);
    bottom: 130px;
    left: 20px;
    animation: photo2 20s ease-in-out infinite;
}


.photo:nth-child(3) {
    object-fit:cover;
    position: absolute;
    width: 50%;
    height: 50%;
    background: #bdc3c7;
    text-align: center;
    line-height: 200px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border:2px solid #fff;
    z-index: 1;
    transform: rotate(19deg);
    bottom: 130px;
    right: 50px;
    animation: photo3 20s ease-in-out infinite;
}

/* Keyframes untuk Foto 1 */
@keyframes photo1 {
    0%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 130px;
        left: 20px;
        transform: rotate(0deg);
    }
    20%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 130px;
        left: 20px;
        transform: rotate(0deg);
    }
    30%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 130px;
        transform: rotate(20deg);
    }

    50%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 130px;
        transform: rotate(20deg);
    }

    60%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 20px;
        transform: rotate(-20deg);
    }

    80%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 20px;
        transform: rotate(-20deg);
    }

    90%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 130px;
        left: 20px;
        transform: rotate(0deg);
    }

    100%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 130px;
        left: 20px;
        transform: rotate(0deg);
    }
}

/* Keyframes untuk Foto 2 */
@keyframes photo2 {
    0%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 20px;
        transform: rotate(-20deg);
    }
    20%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 20px;
        transform: rotate(-20deg);
    }
    30%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 130px;
        left: 20px;
        transform: rotate(0deg);
    }

    50%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 130px;
        left: 20px;
        transform: rotate(0deg);
    }

    60%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 130px;
        transform: rotate(20deg);
    }

    80%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 130px;
        transform: rotate(20deg);
    }

    90%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 20px;
        transform: rotate(-20deg);
    }

    100%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 20px;
        transform: rotate(-20deg);
    }
}

/* Keyframes untuk Foto 3 */
@keyframes photo3 {
    0%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 130px;
        transform: rotate(20deg);
    }
    20%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 130px;
        transform: rotate(20deg);
    }
    30%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 20px;
        transform: rotate(-20deg);
    }

    50%{
        z-index: 2;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 20px;
        transform: rotate(-20deg);
    }

    60%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 130px;
        left: 20px;
        transform: rotate(0deg);
    }

    80%{
        z-index: 3;
        width: 80%;
        height: 80%;
        bottom: 130px;
        left: 20px;
        transform: rotate(0deg);
    }

    90%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 130px;
        transform: rotate(20deg);
    }

    100%{
        z-index: 1;
        width: 50%;
        height: 50%;
        bottom: 130px;
        left: 130px;
        transform: rotate(20deg);
    }
}

@media only screen and (max-width: 1280px){
    section {
        padding: 6em 9em;
    }

    .banner {
        position: relative;
        min-height: 80vh;

    }

    .circle{
        position:absolute;
        bottom: -500px;
        right: -250px;
    }
}

@media only screen and (max-width: 887px){
    section {
        padding: 3em 6em;
    }

    .banner {
        position: relative;
        min-height: 70vh;

    }

    .circle{
        position:absolute;
        bottom: -200px;
        right: -280px;
    }

}


@media only screen and (max-width: 581px){
    body{
        overflow-x: hidden;
    }
    .banner {
        height: 60vh;

    }

    .banner .textBx h2 {
        font-size: 28px;

    }

    .banner .textBx p {
        font-size: 16px;
    }

    section{
        padding: 1.5em;
    }


    .container-chose {
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .card-header {
        padding: 15px;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .card-content {
        padding: 20px;
    }

    .card-section {
        margin-bottom: 15px;
    }

    .card-section h3 {
        margin-bottom: 8px;
        font-size: 18px;
    }

    .card-section ul {
        font-size: 14px;
    }

    .card-section ul li {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .circle{
        display: none;
    }

    .content{
        display: block;
    }

    .content img{
        display: none;
    }
    .tab button{
        padding:14px 65px;
    }
    .w50{
        max-width: 100%;
    }

    .w50 h1 {
        font-size: 16px;
    }
    .w50 h2 {
        font-size: 20px;
    }

    .alert-popup {
        position: fixed;
        top: 13%;
        right: -20px;
        z-index: 1000;
        animation: fadeIn 0.5s forwards;
        opacity: 1;
        margin-bottom: 10px;
    }

    .alert {
        padding: 10px;
        max-width: 400px;
        position: relative;
    }

    .message {
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .title-client h2,
    .title-product h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .title-client p,
    .title-product p {
        font-size: 12px;
    }

    .mitra-logo {
        flex-direction:row;
        justify-content:flex-start;
        scroll-snap-type: x mandatory;
        overflow-x:auto;
    }
    .mitra-logo img{
        width:100%;
        scroll-snap-align: center;
    }

    .carousel-container {
        width: 100%;
        overflow-x: hidden;
        position: relative;
    }

    .cards-container {
        width:100%;
        padding: 0px;
        gap: 15px;
        justify-content: flex-start;
        flex-wrap:nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        transition: transform 0.3s ease;
    }


    .card {
        min-width: 200px;
        border-radius: 10px;
        overflow-x: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .textbx-card h3 {
    font-size: 14px;
    margin-bottom: 10px;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    }

    .card:hover .textbx-card h3 {
    transform: translateY(-50px);
    }

    .textbx-card p {
    font-size: 1px;
    opacity: 0;
    transform: translateY(5px);
    }
    .banner{
        min-height:80vh;
    }
    .banner .textBx h2 {
        font-size: 1.5em;
    }

    .banner .textBx p {
        font-size: 0.8em;
    }
    .tim-peribumi{
        justify-content: center;
    }

    .tim-peribumi .peribumi{
        border: 2px solid #fff;
        padding: 10px 20px;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
    }
}
