.user-logo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #ccc;
}

.user-logo-default {
    width: 120px;
    height: 120px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.user-logo-default span {
    font-size: 36px;
    color: white;
}


/* ----------- Account Setting ----------------- */

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headtb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.add-account-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-account-btn:hover {
    background-color: #45a049;
}

.account-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.account-table th,
.account-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    place-items: center;
}

.account-table td

.account-table th {
    background-color: #d9d7d7;
    color: black;
}

.account-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #1976D2;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #d32f2f;
}
