* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.form-container {
    max-width: 700px;
    margin: auto;
    padding: 2em;
    border-radius: 8px;
    background-color: #ffffff;
}

.form-group {
    margin-bottom: 1.5em;
}

.form-label {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5em;
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f5f5f5;
    transition: border 0.3s ease;
}

#durasi {
    margin-right:10px;
}

.form-control:focus {
    border: 1px solid #4a90e2;
    background-color: #fff;
    outline: none;
}

.select-control {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f5f5f5;
    transition: border 0.3s ease;
}

.select-control:focus {
    border: 1px solid #4a90e2;
    background-color: #fff;
    outline: none;
}

.btn-tambah-silabus,
.btn-tambah-product {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-tambah-silabus,
.btn-tambah-product {
    background-color: #4a90e2;
}

.btn-tambah-silabus:hover,
.btn-tambah-product:hover {
    background-color: #357abd;
}

#silabus-arrow-2 {
    padding: 1em;
}

#silabus-arrow {
    padding-top: 1.3em;
    border-top: 2px solid #eee;
}

#silabus-container {
    margin-top: 1.5em;
    padding: 1em;
    border-top: 2px solid #eee;
}

#silabus-container h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
}

#produkType {
    margin-top: 0.5em;
}

.form-section {
    display: none; /* Default semua form disembunyikan */
}
.form-section.active {
    display: block; /* Form yang aktif terlihat */
}

/* ini css highlight di searchbar modal verifikasi produk */
.highlight {
    background-color: yellow;
}

@media only screen and (max-width: 1280px) and (min-width: 1024px){}

@media only screen and (max-width: 1024px) and (min-width: 768px){}

@media only screen and (max-width: 768px) and (min-width: 480px){
    form {
        padding: 1em;
    }

    h2 {
        font-size: 1.75em;
    }

    .btn-small {
        border: 1px solid #ccc;
        padding: 0.75em 2em;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }

    .btn-small:hover {
        background-color: #0056b3;
        color:#fff;
    }

    .input-group {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

@media only screen and (max-width: 480px){}
