/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

form {
    width: 700px;
    margin: auto;
    padding: 2em;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 1.5em;
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5em;
    display: block;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f5f5f5;
    transition: border 0.3s;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #4a90e2;
    background-color: #fff;
    outline: none;
}

button[type="button"],
button[type="submit"] {
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #357ABD;
}

#silabus-container {
    margin-top: 1.5em;
    padding: 1em;
    border-top: 2px solid #eee;
}

#silabus-container h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
}

#produkType {
    margin-top: 0.5em;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Additional Styling for Responsive Design */
@media (max-width: 768px) {
    form {
        padding: 1em;
    }

    h2 {
        font-size: 1.75em;
    }
}
