@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

footer {
    padding: 0 115px;
}

footer h3 {
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 15px;
    font-size: medium;
}

footer hr {
    margin: 0 20px;
}

.title-foot {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.title-foot img {
    width: 90px;
}

.title-foot h2 {
    color: #fff;
    font-size: 1.5rem;
}

.con {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
}

.about-foot {
    color: #fff;
    padding: 10px;
    max-width: 35%;
}

.about-foot p {
    padding-top: 6px;
    font-size: 13px;
    text-align: justify;
}

.produk-foot {
    padding: 10px;
    width: 100%;
    max-width: 180px;
}

.produk-foot ul {
    list-style: none;
}

.produk-foot ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
}

.produk-foot ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--skin-color-4);
    transition: width 0.5s ease-in-out;
}

.produk-foot ul li a:hover {
    font-size: 14px;
}

.produk-foot ul li a:hover::after {
    width: 100%;
}

.media-foot {
    padding: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.media-foot .media-social {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #fff;;
    margin-bottom: 10px;
}

.media-foot .media-social i{
    font-size: 24px;
}

.media-foot .media-social span{
    font-size: 14px;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.media-foot .media-social span:hover{
    color: var(--skin-color-4);
}

.tm {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}

@media only screen and (max-width: 1120px){
    footer {
        padding: 0 70px;
    }

    .title-foot h2{
        font-size: 20px;
    }

    .con{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media only screen and (max-width: 887px){
    footer {
        padding: 0 60px;
    }

    .con{
        display: flex;
        justify-content: space-around;

    }

    .title-foot{
        display: flex;
        justify-content: center;
    }

    .title-foot img{
        width: 70px;
    }

    .title-foot h2{
        font-size: 20px;
    }

    .about-foot{
        max-width: 48%;
    }

    .media-foot .media-social i{
        font-size: 20px;
    }

    .media-foot .media-social span{
        font-size: 14px;
    }

    .tm{
        font-size: 14px;
        margin: 15px 0;
    }
}

@media only screen and (max-width: 581px){
    footer{
        padding: 0;
    }

    footer h3 {
        font-size: 14px;
        margin-bottom: 13px;
    }

    .title-foot{
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 20px;
        justify-content: center;
    }
    .title-foot img{
        width: 55px;
    }

    .title-foot h2{
        font-size: 16px;
    }

    .produk-foot{
        text-align: end;
    }

    .media-foot{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .produk-foot ul li a {
        font-size: 12px;
    }

    .media-foot .media-social i{
        font-size: 20px;
    }

    .media-foot .media-social span{
        font-size: 12px;
        transition: 0.5s ease;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .con{
        display: flex;
        flex-wrap: wrap;
        margin: 0 10px;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .tm{
        font-size: 10px;
    }
    .about-foot{
        display: flex;
        max-width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .about-foot p {
        font-size: 12px;
    }

    .maps{
        margin: auto;
        border: none;
        max-width: 100%;
        margin-top: 20px;
    }

}
