footer {
    padding: 0 5em;
}

footer h3 {
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 0.94em;
    font-size: medium;
}

footer hr {
    margin: 0 1.25em;
}

.title-foot {
    display: flex;
    align-items: center;
    padding: 1.25em 0;
}

.title-foot img {
    width: 5.63em;
}

.title-foot h2 {
    color: #fff;
    font-size: 1.5rem;
}

.con {
    display: flex;
    margin: 0 0.31em;
    justify-content: center;
}

.about-foot {
    color: #fff;
    padding: 0.63em;
    max-width: 30%;
}

.about-foot p {
    padding-top: 0.38em;
    font-size: 0.81em;
    text-align: justify;
}

.produk-foot {
    padding: 0.63em;
    width: 100%;
    max-width: 12em;
}

.produk-foot ul {
    list-style: none;
}

.produk-foot ul li a {
    font-size: 0.88em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
}

.produk-foot ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.13em;
    width: 0;
    height: 0.13em;
    background-color: var(--skin-color-4);
    transition: width 0.5s ease-in-out;
}

.produk-foot ul li a:hover {
    font-size: 0.88em;
}

.produk-foot ul li a:hover::after {
    width: 100%;
}

.media-foot {
    padding: 0.63em;
    max-width: 31.25em;
    display: flex;
    flex-direction: column;
}

.media-foot .media-social {
    display: flex;
    gap: 0.63em;
    text-decoration: none;
    color: #fff;;
    margin-bottom: 0.63em;
}

.media-foot .media-social i{
    font-size: 1.5em;
}

.media-foot .media-social span{
    font-size: 0.88em;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.media-foot .media-social span:hover{
    color: var(--skin-color-4);
}

.tm {
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin: 1.25em 0;
}


@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    footer {
        padding: 0em 2.5em;
    }

    footer .title-foot h2 {
        font-size: 1.3em;
    }

    footer .produk-foot ul li a {
        font-size: 0.9em;
    }

    footer .media-foot .media-social i {
        font-size: 1.75em;
    }

    footer .media-foot .media-social span {
        font-size: 0.9em;
    }

    footer .con {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    footer {
        padding: 0 2em;
    }

    footer .title-foot h2 {
        font-size: 1.2em;
    }

    footer .produk-foot ul li a {
        font-size: 0.85em;
    }

    footer .media-foot .media-social i {
        font-size: 1.5em;
    }

    footer .media-foot .media-social span {
        font-size: 0.85em;
    }

    footer .con {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    footer {
        padding: 0 1.5em;
    }

    footer h3 {
        font-size: 1em;
        margin-bottom: 1em;
    }

    footer .title-foot {
        padding: 1.25em;
        flex-direction: column;
        align-items: center;
    }

    footer .title-foot img {
        width: 3em;
    }

    footer .title-foot h2 {
        font-size: 1.1em;
    }

    footer .produk-foot {
        text-align: center;
    }

    footer .media-foot {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    footer .produk-foot ul li a {
        font-size: 0.85em;
    }

    footer .media-foot .media-social i {
        font-size: 1.5em;
    }

    footer .media-foot .media-social span {
        font-size: 1em;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    footer .con {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .tm {
        font-size: 0.75em;
    }

    footer .about-foot {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .about-foot p {
        font-size: 0.9em;
    }

    footer .maps {
        margin: auto;
        border: none;
        max-width: 100%;
        margin-top: 1em;
    }
}

@media only screen and (max-width: 480px) {
    footer {
        padding: 0 1.25em;
    }

    footer h3 {
        font-size: 0.9em;
    }

    footer .title-foot {
        flex-direction: column;
        gap: 0.5em;
        padding: 1em;
    }

    footer .title-foot img {
        width: 2.5em;
    }

    footer .title-foot h2 {
        font-size: 0.9em;
    }

    footer .produk-foot {
        text-align: center;
    }

    footer .media-foot {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer .produk-foot ul li a {
        font-size: 0.7em;
    }

    footer .media-foot .media-social i {
        font-size: 1.2em;
    }

    footer .media-foot .media-social span {
        font-size: 0.7em;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    footer .con {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .tm {
        font-size: 0.6em;
    }

    footer .about-foot {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .about-foot p {
        font-size: 0.7em;
    }

    footer .maps {
        margin: auto;
        border: none;
        max-width: 100%;
        margin-top: 1em;
    }
}
