@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

footer {
    padding: 0 200px;
}

footer h3 {
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 20px;
    font-size: medium;
}

footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-foot {
    display: flex;
    aligh-item: center;
    padding-top: 40px;
}

.title-foot img {
    width: 100px;
    height: 40px;
}

.title-foot h2 {
    color: #fff;
    font-size: 1.5rem;
}

.con {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.about-foot {
    color: #fff;
    padding: 10px;
    max-width: 305px;
}

.about-foot p {
    padding-top: 6px;
    font-size: 13px;
    text-align: justify;
}

.produk-foot {
    padding: 10px;
    width: 100%;
    max-width: 180px;
    text-aligh: center;
}

.produk-foot ul {
    list-style: none;
}

.produk-foot ul li a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.produk-foot a:hover {
    color: var(--skin-color-4);
    font-size: 14px;
}

.media-foot {
    color: #fff;
    padding: 10px;
    max-width: 500px;
}

.media-foot a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.tm {
    color: #fff;
    display: flex;
    justify-content: center;
    aligh-item: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 581px){
    footer{
        padding: 0;
    }
    .title-foot{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px;
        justify-content: center;
    }
    .title-foot img{
        width: 70px;
    }

    .title-foot h2{
        font-size: 16px;
    }

    .con{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 20px;
    }

    .tm{
        font-size: 12px;
    }
    .about-foot{
        display: flex;
        max-width: 70%;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
    .maps{
        border: none;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

}
