footer {
    padding: 0 5em;
}

footer h3 {
    color: #fff;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 0.94em;
    font-size: 1em;
}

footer hr {
    margin: 0 1.25em;
}

.title-foot {
    display: flex;
    align-items: center;
    padding: 1.3em 2.5em;
}

.title-foot img {
    width: 5.63em;
}

.title-foot h2 {
    color: #fff;
    font-size: 1.35em;
}

.con {
    display: flex;
    margin: 0 4em;
    justify-content: space-between;
}

.about-foot {
    color: #fff;
    padding: 0;
    max-width: 30%;
}

.about-foot p {
    padding-top: 0.38em;
    font-size: 0.85em;
    text-align: justify;
}

.produk-foot {
    padding: 0.63em;
    width: 100%;
    max-width: 12em;
}

.produk-foot ul {
    list-style: none;
}

.produk-foot ul li a {
    font-size: 0.85em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
}

.produk-foot ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.13em;
    width: 0;
    height: 0.13em;
    background-color: var(--skin-color-4);
    transition: width 0.5s ease-in-out;
}

.produk-foot ul li a:hover {
    font-size: 0.88em;
}

.produk-foot ul li a:hover::after {
    width: 100%;
}

.media-foot {
    padding: 0.63em;
    max-width: 31.25em;
    display: flex;
    flex-direction: column;
}

.media-foot .media-social {
    display: flex;
    gap: 0.63em;
    text-decoration: none;
    color: #fff;;
    margin-bottom: 0.63em;
}

.media-foot .media-social i{
    font-size: 1.4em;
}

.media-foot .media-social span{
    font-size: 0.85em;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.media-foot .media-social span:hover{
    color: var(--skin-color-4);
}

.tm {
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin: 1.25em 0;
}


@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    footer {
        padding: 0 2.5em;
    }

    footer h3{
        font-size: 0.8em;
    }

    .title-foot img {
        width: 4.5em;
    }

    .title-foot {
        display: flex;
        align-items: center;
        padding: 1.3em 0em;
        margin: 0 3em;
    }

    .title-foot h2 {
        font-size: 1.15em;
    }

    .about-foot {
        padding: 0.2em;
    }

    .about-foot p {
        font-size: 0.7em;
    }

    .produk-foot ul li a {
        font-size: 0.7em;
    }

    .media-foot .media-social i {
        font-size: 1.2em;
    }

    .media-foot .media-social span {
        font-size: 0.7em;
    }

    .con {
        justify-content: space-between;
    }

    .tm {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    footer {
        padding: 0 2em;
    }

    footer h3 {
        font-size: 1.1em;
    }

    .title-foot{
        display: flex;
        align-items: center;
        gap: 0.4em;
        padding: 1.3em;
        justify-content: center;
    }
    .title-foot img{
        width: 3em;
    }

    .title-foot h2{
        font-size: 1em;
    }

    .produk-foot{
        max-width: 12em;
    }

    .media-foot{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .produk-foot ul li a {
        font-size: 0.9em;
    }

    .media-foot .media-social i{
        font-size: 1.3em;
    }

    .media-foot .media-social span{
        font-size: 0.95em;
        transition: 0.5s ease;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .con{
        display: flex;
        flex-wrap: wrap;
        margin: 0 0.5em;
    }

    .tm{
        font-size: 0.65em;
    }
    .about-foot{
        display: flex;
        max-width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .about-foot p {
        font-size: 1em;
        margin: 0 0.5em 0.5em;
    }

    .maps{
        margin: auto;
        border: none;
        max-width: 100%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    footer {
        padding: 0 1.5em;
    }

    footer h3 {
        font-size: 1em;
    }

    .title-foot{
        display: flex;
        align-items: center;
        gap: 0.4em;
        padding: 1.3em;
        justify-content: center;
    }
    .title-foot img{
        width: 3em;
    }

    .title-foot h2{
        font-size: 1em;
    }

    .produk-foot{
        max-width: 12em;
    }

    .media-foot{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .produk-foot ul li a {
        font-size: 0.85em;
    }

    .media-foot .media-social i{
        font-size: 1.3em;
    }

    .media-foot .media-social span{
        font-size: 0.95em;
        transition: 0.5s ease;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .con{
        display: flex;
        flex-wrap: wrap;
        margin: 0 0.5em;
    }

    .tm{
        font-size: 0.65em;
    }
    .about-foot{
        display: flex;
        max-width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .about-foot p {
        font-size: 0.95em;
        margin: 0 1em 0.5em;
    }

    .maps{
        margin: auto;
        border: none;
        max-width: 100%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    footer {
        padding: 0 0.3em;
    }

    footer h3 {
        font-size: 0.92em;
    }

    .title-foot{
        display: flex;
        align-items: center;
        gap: 0.4em;
        padding: 1.3em;
        justify-content: center;
    }
    .title-foot img{
        width: 3em;
    }

    .title-foot h2{
        font-size: 1em;
    }

    .produk-foot{
        text-align: end;
        max-width: 10em;
    }

    .media-foot{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .produk-foot ul li a {
        font-size: 0.75em;
    }

    .media-foot .media-social i{
        font-size: 1.3em;
    }

    .media-foot .media-social span{
        font-size: 0.75em;
        transition: 0.5s ease;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .con{
        display: flex;
        flex-wrap: wrap;
        margin: 0 0.5em;
        flex-direction: row-reverse;
    }

    .tm{
        font-size: 10px;
    }
    .about-foot{
        display: flex;
        max-width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .about-foot p {
        font-size: 0.85em;
        margin: 0 0.7em 0.5em;
    }

    .maps{
        margin: auto;
        border: none;
        max-width: 100%;
        margin-top: 20px;
    }

}
