* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 6.25em;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

header .toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 1.25em;
    color: #fff;
}

header .menu.active {
    display: flex;
}

header.sticky {
    background-color: #fff;
    padding: 1.25em 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

header.sticky .toggle {
    color: var(--skin-color-1);
}

header .logo {
    display: flex;
    color: #fff;
    align-items: center;
    margin-right: 15em;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: flex-end;
}

header .logo .logo-title {
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.0625em;
}

header .logo img {
    width: 5em;
    height: 1.875em;
    margin-right: 0.625em;
}

header.sticky .logo {
    color: #04364a;
}

header .menu {
    position: relative;
    display: flex;
    align-items: center;
}

header .menu li {
    position: relative;
    list-style: none;
}

header .menu li .link-bar {
    position: relative;
    margin: 0 1em;
    color: #fff;
    font-size: 0.85em;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}


.user-logo {
    display: flex;
    width: 1.875em;
    height: 1.875em;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 0.3125em;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    margin-left: 0.625em;
    margin-right: 0.625em;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 0.75em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown-button:hover {
    color: var(--skin-color-4);
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: -100%;
    margin-top: 0.625em;
    min-width: 12.5em;
    border: 1px solid #ccc;
    background-color: var(--skin-color-1);
    border-radius: 0.3125em;
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header.sticky .dropdown-menu {
    background-color: #fff;
}

.dropdown-menu .link-dropdown {
    display: flex;
    padding: 0.625em;
    text-decoration: none;
    transition: 0.5s;
    font-size: 0.8125em;
    color: #fff;
    flex-wrap: nowrap;
    justify-content: center;
    font-weight: 500;
}

header .menu li .link-bar:hover,
header .dropdown-menu .link-dropdown:hover {
    color: var(--skin-color-4);
}

header.sticky .menu li .link-bar,
header.sticky .dropdown-button,
header.sticky .dropdown-menu .link-dropdown {
    color: var(--skin-color-1);
}

header.sticky .menu li .link-bar:hover,
header.sticky .dropdown-menu .link-dropdown:hover,
header.sticky .dropdown-button:hover {
    color: var(--skin-color-4);
}

.drop-down {
    position: relative;
}

.drop-menu {
    display: none;
    position: absolute;
    right: -75%;
    top: 0.9375em;
    background-color: white;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    padding: 1.25em;
    width: 9.3em;
    z-index: 1000;
}

.username {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.9em;
    text-align: center;
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    font-weight: 500;
    color: #111;
    text-decoration: none;
    gap: 0.62em;
    padding: 0.5em;
    background-color: transparent;
    border: none;
    transition: 0.3s;
}

.menu-items i {
    font-size: 1em;
    color: #555;
    transition: 0.3s;
}

.menu-items:hover {
    color: var(--skin-color-4);
}

.menu-items:hover i {
    color: var(--skin-color-4);
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
}

.drop-down:hover .drop-menu {
    display: block;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 1.9em;
    border-radius: 0.6em;
    box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 80%;
    max-width: 25em;
    animation: modalFadeIn 0.4s ease-out;
}

.modal-content h2 {
    font-size: 1.8em;
    margin-bottom: 0.9em;
    color: #333;
}

.modal-content p {
    font-size: 1em;
    color: #666;
    margin-bottom: 1.9em;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 0.6em;
}

.button-confirm,
.button-cancel {
    padding: 0.6em 1.3em;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-confirm {
    background-color: #d9534f;
    color: white;
}

.button-confirm:hover {
    background-color: #c9302c;
}

.button-cancel {
    background-color: #5bc0de;
    color: white;
}

.button-cancel:hover {
    background-color: #31b0d5;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    header {
        position: fixed;
        width: 100%;
        padding: 1.75em 2.5em;
    }

    header.sticky {
        padding: 1.25em 2em;
    }

    header .logo {
        margin-right: 0.94em;
    }

    header .menu li .link-bar {
        margin: 0 0.6em;
        font-size: 0.8em
    }

    header .logo img {
        width: 4.38em;
        height: 1.56em;
        margin-right: 0.31em;
    }

    header .logo .logo-title {
        font-size: 1em;
    }
}



@media only screen and (max-width: 1024px) and (min-width: 768px) {
    header {
        position: fixed;
        width: 100%;
        padding: 1.5em 1.8em;
    }
    header .toggle {
        visibility: hidden;
    }

    header.sticky {
        padding: 1.5em 1.6em;
    }

    header .logo {
        margin-right: auto;
    }

    header .menu li .link-bar {
        margin: 0 0.63em;
    }

    header .logo img {
        width: 4.38em;
        height: 1.56em;
        margin-right: 0.31em;
    }

    header .logo .logo-title {
        font-size: 0.94em;
    }

    .dropdown-button {
        margin: 0;
    }
}


@media only screen and (max-width: 768px) and (min-width: 480px) {
    header {
        position: fixed;
        width: 100%;
        padding: 1.25em 0;
    }

    header.sticky {
        padding: 1.25em 0;
    }

    header .logo {
        margin: 0;
    }

    header .toggle {
        visibility: visible;
        font-size: 1.25em;
    }

    header .menu {
        padding: 1.88em;
        flex-direction: column;
        position: fixed;
        top: 4.81em;
        right: -100%;
        background-color: #fff;
        width: 100%;
        border-top: 1px solid #444;
        z-index: 1000;
        transition: right 0.5s ease-in-out;
    }

    header .menu.active {
        display: flex;
        text-align: center;
        right: 0;
    }

    header .menu li {
        padding: 0.94em 0;
    }

    header .menu button,
    header .menu li .link-bar {
        display: flex;
        font-size: 1em;
        width: 100%;
        color: var(--skin-color-1);
    }

    header .logo {
        margin-right: 3.13em;
        font-size: 1.13em;
    }

    header .logo .logo-title {
        font-size: 0.81em;
        font-weight: 700;
        letter-spacing: 0.06em;
    }

    header .logo img {
        width: 4.3em;
        height: 1.56em;
    }

    header .dropdown-menu {
        display: none;
        position: absolute;
        right: -5em;
        margin-top: 0.63em;
        min-width: 15.63em;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 0.31em;
        box-shadow: 0 0.13em 0.63em rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .dropdown-menu .link-dropdown {
        background-color: #fff;
        color: var(--skin-color-1);
    }
}

@media only screen and (max-width: 480px) {
    header {
        position: fixed;
        width: 100%;
        padding: 1em 0em;
    }

    header.sticky {
        padding: 1em 0em;
    }

    header .logo {
        margin: 0;
    }

    header .toggle {
        visibility: visible;
        font-size: 1em;
    }

    header .menu {
        padding: 1.5em;
        flex-direction: column;
        position: fixed;
        top: 3.6em;
        right: -100%;
        background-color: #fff;
        width: 100%;
        border-top: 1px solid #444;
        z-index: 1000;
        transition: right 0.5s ease-in-out;
    }

    header .menu.active {
        display: flex;
        text-align: center;
        right: 0;
    }

    header .menu li {
        padding: 0.75em 0;
    }

    header .menu button,
    header .menu li .link-bar {
        display: flex;
        font-size: 0.85em;
        width: 100%;
        color: var(--skin-color-1);
    }

    header .logo {
        margin-right: 2.5em;
        font-size: 1em;
    }

    header .logo .logo-title {
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    header .logo img {
        width: 4em;
        height: 1.25em;
    }

    header .dropdown-menu {
        display: none;
        position: absolute;
        right: -4em;
        margin-top: 0.5em;
        min-width: 14em;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 0.25em;
        box-shadow: 0 0.13em 0.5em rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .dropdown-menu .link-dropdown {
        background-color: #fff;
        color: var(--skin-color-1);
    }
}
