* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #04364a;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    aligh-item: center;
    transition: 0.5s;
}

header.sticky {
    background-color: #fff;
    padding: 20px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header .logo {
    display: flex;
    color: #fff;
    align-items: center;
    margin-right: 15pc;
    justify-content: flex-end;
    font-size: 28;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}

header .logo img {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}
header.sticky .logo {
    color: #04364a;
}
header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-blok;
    margin: 0 15px;
    color: #fff;
    font-decoration: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown-button:hover {
    color: var(--skin-color-4);
}

.dropdown-menu {
    display: none; /* Initially hidden */
    position: absolute;
    margin-top: 10px;
    min-width: 200px;
    border: 1px solid #ccc;
    background-color: var(--skin-color-1);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header.sticky .dropdown-menu {
    background-color: #fff;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 11px;
}

header ul li a:hover,
.dropdown-menu a:hover {
    color: var(--skin-color-4);
    font-size: 12px;
}

header.sticky ul li a,
header.sticky .dropdown-button {
    color: var(--skin-color-1);
}

header.sticky ul li a:hover,
header.sticky .dropdown-menu a:hover {
    color: var(--skin-color-4);
    font-size: 12px;
}

header.sticky .dropdown-button:hover {
    color: var(--skin-color-4);
}

.user-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.dropdownicn {
    position: relative;
    display: inline-block;
}

.dropdown-button-icn {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownicn:hover .dropdown-button-icn {
    display: block;
}

.logout-button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

